<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.comamorcupcakes" version="1.6.0"  xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <platform name="android" />
    <name>Com Amor Cupcakes</name>
    <description>
      Aplicativo de vendas de Cupcakes
    </description>
    <author email="thiagoacdc12@gmail.com" href="https://github.com/thiagohfelix">
      Thiago Henrique Felix
  </author>
  <content src="index.html"/>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navegation href="*" />

  <preference name="orientation" value="default" />
  <preference name="StatusBarOverLaysWebView" value="true" />
  <preference name="DisallowOverScroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />

  <preference name="SplashScreenDelay" value="10000" />

  <platform name="android">
  
      <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
      <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
      <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
      <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

      <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
      <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
      <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
      <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>


</widget>
