/* Your app styles here */
.img-logo { width:320px !important; margin:auto; margin-top:-10px; max-height: 300px; max-width: 320px;}
.bloco-buttons { margin-top:0px !important; margin-bottom: 5px !important;}
