

.home-page { background: url(../img/bg/bg_home.jpg) center no-repeat !important; background-size:cover !important; }
.img-swiper { width:320px !important; margin:auto; margin-top:-10px; max-height: 300px; max-width: 320px;}
.divisor { padding:40px 0px; }
.divisor-normal { padding:20px 0px; }
.div-center { margin:auto !important;}
